body {
    margin: 0;
    font-size: 17px;
}

#main_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 10vh;
    position: absolute;
    background: #69696945;
    float: left;
    border-bottom: 1px solid #b5b5b5;
}

header .burger{
    float: left;
    width: 14%;
    padding-right: 4%;
    padding-left: 4%;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

header .login{
    right: 0;
    font-family: Exp;
    height: 10vh;
    padding-right: 10px;
    position: absolute;
    cursor: pointer;
    display: flex;
}

header .login button{
    font-family: Exp;
    color: white;
    cursor: pointer;
    font-size: 0.7em;
    width: 100%;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
}

header img{
    opacity: 0.8;
    width: 100%;
    height: 10vh;
    float: left;
    cursor: pointer;
}

header #open-menu{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

header #close-menu{
    display: none;
    height: 4vh;
    margin-top: 3vh;
    padding-bottom: 3vh;
}

.slide{
    background: #000000;
    position: absolute;
    width: 22%;
    margin-top: 10vh;
    min-height: 90vh;
    z-index: 5;
    opacity: 0.90;
    border-top: 1px solid white;
    display: none;
}

.slide ul{
    width: 100%;
    padding-top: 10vh;
    font-size: 1em;
}

.slide li{
    width: 100%;
    text-align: center;
    height: 75px;
}

.slide li a{
  text-decoration: none;
  color: white;
  font-family: Exp;
  cursor: pointer;
  font-weight: bold;
}

.slide li a:active{
    color: #e27339;
}

.slide p{
    color: #ffffffbd;
    font-family: Exp;
    font-size: 0.7em;
}

.slide span{
    margin-top: 2.5vh;
    font-size: 1em;
    float: left;
    text-align: center;
    width: 100%;
    font-family: monospace;
    color: white;
}

.slide li img{
    width: 25%;
    padding: 12%;
    float: left;
    cursor: pointer;
}

.slide figure{
    margin-left: 35%;
    width: 30%;
    float: left;
}


.wrapper{
    float: left;
    position: absolute;
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
}

.wrapper figure{
    width: 55%;
    float: left;
    margin-left: 22.5%;
    margin-top: 13vh;
}

.wrapper img{
    width: 100%;
    opacity: 0.75;
}

.content{
	  float: left;
    width: 100%;
    font-family: Exp;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    margin-top: 23vh;
    text-align: center;
    margin-bottom: 25px;
}

.content button{
    width: 30%;
    margin-top: 5%;
    border-radius: 5px;
    font-size: 0.7em;
    background: #0000003b;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 9px;
}

.content button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: Exp;
}


.content button:active{
    background: #e2733978;
}


.section{
    background: #151413e3;
    z-index: 1;
    position: absolute;
    min-height: 100vh;
    margin-top: -10vh;
    display: none;
    color: white;
}

.login_section label{
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 10%;
    font-family: Elec;
}


.login_section input{
    border: none;
    border-bottom: 1px solid white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    float: left;
    height: 22px;
    text-align: center;
    outline: none;
    border-radius: 2px;
    background: transparent;
    color: #f5f5f5cf;
    font-family: monospace;
}



.login_section form{
  margin-top: 30%;
}

.login_section button{
    float: left;
    width: 30%;
    margin: 10% 0 10% 35%;
    border-radius: 5px;
    font-size: 0.7em;
    background: #00000036;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 5px;
    font-family: Elec;
}

.login_section #close-section{
    height: 6vh;
    padding: 2vh;
    width: 7%;
    position: absolute;
    right: 0;
    margin-right: 2%;
    cursor: pointer;
}

.login_section figure{
    margin-top: 23vh;
}










